navbar.navbar.has-shadow
  .container
    .navbar-brand
      .navbar-item
        h1.title.is-size-5
          a(href="/") Pol Gómez Riquelme
      .navbar-burger(role="button", aria-label="menu", aria-expanded="false", data-target="navMenu")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
    .navbar-menu#navMenu
      .navbar-start
      .navbar-end
        a.navbar-item(href="/") Home
        a.navbar-item(href="/blog") Blog
        a.navbar-item(href="/about") About
